<!-- Wesite content
---
layout: default
---
{% include slider.html %}
{% include feature_3.html %}
{% include contact_us.html %}

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming soon</title>
</head>

<body>
    <h1>Rukrakaganno.org website launch coming soon</h1>
    <script src="https://cdn.logwork.com/widget/countdown.js"></script>
    <a href="https://logwork.com/countdown-qvjt" class="countdown-timer" data-style="circles"
        data-timezone="Asia/Colombo" data-textcolor="#145903" data-date="2021-07-28 18:30" data-background="#29610e"
        data-digitscolor="#26700b" data-unitscolor="#1e521e">Countdown to launch at 28th July 2021, 6:30PM</a>
</body>

</html>