<!-- start experience section -->
<section class="experience-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="experience-content">
                    <h1>About Us</h1>
                    <div class="col-md-11 text-right">
                        <div class="single-image">
                            <img src="{{site.baseurl}}/assets/img/ruk-logo.jpg" alt="">
                        </div>
                    </div>
                    <div class="our-mission-list">
                        <p>&emsp; Ruk Rakaganno is a largely <b>volunteer based, non-governmental</b> organization that
                            is funded by grants, donations, membership fees and other revenue−generating activities
                            carried out by the organization itself.</p>
                        <p>&emsp; It was founded in 1975 by a group of environmentally-conscious individuals who were
                            concerned about the rapid deforestation taking place in the country and wished to take
                            measures against it.</p>
                        <p>&emsp; During this initial period, Ruk Rakaganno was largely an advocacy group, which sought
                            to influence policy makers and private deforesters. Presently, alongside advocacy, the group
                            partakes in hands-on projects. Over the years, these have included:</p>
                        <ul>
                            <li>Rejuvenating degraded land.</li>
                            <li>Replanting on coastal areas , which were devestated by the tsunami.</li>
                            <li>Carrying out education projects with schools and communities.</li>
                            <li>Forming a women's environment centre to empower women in conservation efforts.</li>
                        </ul>
                        <p>&emsp;Ruk Rakaganno is member-based with an elected committee, headed by a president. The
                            committee has primary responsibility for decision making of policies and projects. </p>
                        <p>&emsp;Ruk Rakaganno welcomes and encourages those who wish to become members, who would work
                            with the society in their projects and advocacy to protect and conserve the environment.</p>

                        <h2><br>Our Team</h2>
                        <p>
                            President Mr Dushy S. Perera <br>
                            Vice President Mr Simon Lazenbatt <br>
                            Hony. Secretary Prof. Shiranie Balasuriya <br>
                            Treasurer Mr Sathimantha Malalasekera<br>
                            Asst Treasuer Mr Cyril Mundy <br>
                            Asst Secretary Ms Jelarmi Silva<br>
                            Ms N Wijayanandana<br>
                            Ms Tanya Perera<br>
                            Ms Llilani de Silva <br>
                            Ms Ninel Fernando<br>
                            Ms Pauline Lazenbatt<br>
                            Ms Heather Mundy <br>
                            Mr Trishane Alwis<br>
                        </p>
                        <h3><b><br>To find out more about the individual projects, please visit the <a
                                    href="projects">"Projects"</a> page.</b></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end of experience section -->