    <!-- start footer section -->
    <section class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h2 class="widget-title"><a href="/pages/about">ABOUT RUK RAKAGANNO</a></h2>
                        <p>Ruk Rakaganno is a volunteer based, non-governmental organization founded in 1975 implementing hands-on projects to conserve nature and advocate to protect and conserve the environment.</p>
                        <div class="newsletter">
                            <h4>Our News Letter</h4>
                            <form class="email-form" name="newsletter" method="POST" data-netlify="true">
                                <input type="email" placeholder="email" name="email" id="email" required>
                                <button type="submit" class="fa fa-paper-plane"></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="widget">
                        <h2 class="widget-title">QUICK LINK</h2>
                        <ul>
                            <li><a href="{{site.url}}">Home</a></li>
                            <li><a href="/pages/about">About Us</a></li>
                            <li><a href="/tag/projects/">Projects</a></li>
                            <li><a href="/pages/blog/">Blog</a></li>
                            <li><a href="/pages/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget address-widget">
                        <h2 class="widget-title">OFFICE ADDRESS</h2>
                        <ul>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-social-google-map"></i>
                                </div>
                                <div class="addres">
                                    <p>{{site.data.siteVars.addressLine1}},{{site.data.siteVars.addressLine2}}</p>
                                    <p>{{site.data.siteVars.addressLine3}}</p>
                                </div>
                            </li>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-phone"></i>
                                </div>
                                <div class="addres">
                                    <p>{{site.data.siteVars.telephone}}</p>
                                    <p>{{site.data.siteVars.fax}}<small><br>(Fax)</small></p>
                                </div>
                            </li>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-envelope"></i>
                                </div>
                                <div class="addres">
                                    <p>{{site.data.siteVars.email}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget business-hour">
                        <h2 class="widget-title">BUSINESS HOUR</h2>
                        <p>Contact us on following times on GMT +05:30 Colombo timezone</p>
                        <ul>
                            <li>Monday-Friday: <span>9am to 9pm</span></li>
                            <li>Saturday: <span>10am to 10pm</span></li>
                            <li>Sunday: <span>10am to 10pm</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of footer section -->
    <!-- start copyright section -->
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="copryright">
                        <p>© 2021 <a href="#">Ruk Rakaganno</a>. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="footer-social">
                        {% include social_links.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of copyright section -->