<!-- start header section -->
<header id="header" class="header-area header-one">
    <div class="topbar-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8 text-left">
                    <div class="topbar-list">
                        <div class="single-topbar">
                            <p> <span class="fa fa-map-marker"></span>
                                {{site.data.siteVars.addressLine1}}, {{site.data.siteVars.addressLine2}}, {{site.data.siteVars.addressLine3}}
                            </p>
                        </div>
                        <div class="single-topbar">
                            <p> <span class="fa fa-envelope"></span> {{site.data.siteVars.email}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="topbar-social">
                        {% include social_links.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="site-logo">
                        <a href="{{site.url}}"><img src="{{site.baseurl}}/assets/img/logo good size.jpg" height="80" alt="{{site.title}}"></a>
                    </div>
                </div>
                <div class="col-md-8">
                    {% include navigation.html %}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end of header section -->
