<!-- start slider area -->
<section class="main-slider-area">
    <div class="active-main-slider owl-carousel">

        <div class="main-slider-item" style="background-image: url({{site.baseurl}}/assets/img/slider/slider1.jpg);">
            <div class="slider-one-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <div class="main-slider-welcome-text">
                                <div class="slider-cell">
                                    <h2 class="main-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">Interested in helping Ruk Rakaganno?</h2>
                                    <h2 class="sub-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">We welcome volunteers to assist us and we welcome ideas for projects to undertake.</h2>
                                    <div class="welcome-button" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">
                                        <a href="pages/contact" class="btn btn-default button-primary">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider-item" style="background-image: url({{site.baseurl}}/assets/img/slider/slider2.jpg);">
            <div class="slider-one-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="main-slider-welcome-text">
                                <div class="slider-cell">
                                    <h2 class="main-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">Re-foresting 20 hectares of Suduwalipotha Forest</h2>
                                    <h2 class="sub-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">John Keells Foundation in collaboration with Ruk Rakaganno to re-forest 20 hectares of Suduwalipotha Forest located in Kukulagema Beat, Kalawana Range, Kalawana DS Division in Ratnapura District through Ecological Restoration.</h2>
                                    <div class="welcome-button" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">
                                        <a href="https://www.johnkeellsfoundation.com/environment/reforestation-programme-with-ruk-rakaganno/john-keells-foundation-partners-ruk-rakaganno-to-reforest-20-hectares-of-suduwalipotha-forest/?fbclid=IwAR18prwcnspyLmAnTbAxrILRULxtbIDq3pwBlQqlILVBjRGPVOaVTgTr8aw" target="_blank" class="btn btn-default button-primary">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider-item" style="background-image: url({{site.baseurl}}/assets/img/IMG-3670 (1).JPG);">
            <div class="slider-one-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <div class="main-slider-welcome-text">
                                <div class="slider-cell">
                                    <h2 class="main-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">Dankombuwa  Bee keeping Project</h2>
                                    <h2 class="sub-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">The utilization of Bees for Sustainable Development.</h2>
                                    <div class="welcome-button" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">
                                        <a href="posts/2023-11-08-dankombuwa-bee-keeping-project" class="btn btn-default button-primary">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider-item" style="background-image: url({{site.baseurl}}assets/img/slider/sandun_uyana.jpg);">
            <div class="slider-one-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <div class="main-slider-welcome-text">
                                <div class="slider-cell">
                                    <h2 class="main-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">National Sandun Uyana</h2>
                                    <h2 class="sub-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">Newest green oasis where sandalwood trees take root</h2>
                                    <div class="welcome-button" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">
                                        <a href="https://www.sundaytimes.lk/210912/plus/newest-green-oasis-where-sandalwood-trees-take-root-454864.html" target="_blank" class="btn btn-default button-primary">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of slider area -->
