---
layout: default
title: Blog
pagination: 
  enabled: true
permalink: "/pages/blog"
---

{% include page_header.html %}
<!-- start blog section -->
<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div class="alert alert-success" role="alert" style="margin:5px">✍ You too can contribute articles to our blog.
                 Email us at <b>rukrakaganno09@gmail.com</b> for more info.</div>
        </div>
    </div>
</div>

<section class="blog-list-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for blog in paginator.posts %}
                {% unless blog.tags contains "publications" or blog.categories contains "publications" %}
                <div class="single-blog list-blog-item">
                    <div class="blog-lrg-thumb">
                        <a href="{{blog.url}}"><img src="{{blog.image}}" alt="{{blog.title}}"></a>
                        <div class="blog-list-date">
                            <div class="date">
                                <h4>{{blog.date | date: "%d"}} <span>{{blog.date | date: "%b"}}</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="blog-title">
                        <a href="{{blog.url}}"><h2>{{blog.title}}</h2></a>
                            <div class="news-meta">
                            <a href="#"><span class="fa fa-user"></span>By {{blog.author}}</a>
                            <a href="#"><span class="fa fa-tags"></span>Tags {{blog | tags | replace: ",","|"}}</a>
                            <a href="{{blog.url}}/#disqus_thread" data-disqus-identifier="{{blog.id}}"><span class="fa fa-comment-o"></span>0 Comments</a>
                        </div>
                    </div>
                    <div class="blog-excerpt">
                        <p>{{blog.excerpt}}</p>
                    </div>
                    <a href="{{blog.url}}" class="read-more">Read More</a>
                </div>
                {% endunless %}
                {% endfor %}
                {% include pagination.html %}
            </div>
            <div class="col-md-4">
             {% include sidebar.html %}
            </div>
        </div>
    </div>
</section>
<!-- end of blog section -->
{% include brand_slider.html %}
