<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:image" content="https://rukrakaganno.org/assets/img/ruk-logo.jpg">
  <meta property="og:image:type" content="image/png">
  <!-- Bootstrap CSS -->
  <title>Ruk Rakaganno - The Tree Society of Sri Lanka</title>
  <link rel="icon" href="{{site.baseurl}}/assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/icofont.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/menumaker.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/cssbox.css">
</head>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QXH5CZJDVC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QXH5CZJDVC');
</script>

<body class="js">
  <div id="preloader"></div>
  {% include header.html %}
  {{content}}
  {% include footer.html %}
  <!-- Optional JavaScript -->
  <script src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/popper.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/owl.carousel.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/waypoints.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/jquery.counterup.js"></script>
  <script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/jquery.nicescroll.js"></script>
  <script src="{{site.baseurl}}/assets/js/slider.js"></script>
  <script src="{{site.baseurl}}/assets/js/menu.js"></script>
  <script src="{{site.baseurl}}/assets/js/slick.js"></script>
  <script src="{{site.baseurl}}/assets/js/jquery.magnific-popup.min.js"></script>
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn4uayw359fjMh4P9i2rKKZYHzXaqTRNs"></script>
  <script id="dsq-count-scr" src="//construc-jk.disqus.com/count.js" async></script>-->
  <script src="{{site.baseurl}}/assets/js/gmap.js"></script>

  <script src="{{site.baseurl}}/assets/js/active.js"></script>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>